.blog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* gap: 40px; */
    /* margin: 50px 40px; */
  }
  
  .blog-card {
    width: 350px;
    height: 400px; 
    background-color: #323748;
    border: 5px solid transparents;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
    display: flex; 
    flex-direction: column; 
    margin: 20px 0;
  }
  .blog-card img {
    max-width: 355px;
    height: 215px;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

  p{
    color: rgb(255, 253, 253);
    font-weight: 400;
  }
  
  p.card-heading{
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    width: 100%;
    text-align: center ;
  }
  

  p.para-style{
    margin-bottom: 0;
    text-align: left;
    padding: 0 12px;
  }

  p.para-style2{
    margin-bottom: 20px;
    text-align: left;
    padding: 0 12px;
  }

  .blog-buttons {
    display: flex;
    justify-content:flex-start;
    align-items: flex-end;
    margin-left: 12px;
  }
  
  
  .delete-button {
    background-color: #007216;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    width: 100px;
    padding: 5px 10px;
    transition: all 0.1s;
    margin-left: 100px;
    font-weight: 400;
  }
  
  .delete-button:hover{
    background-color: #007216;
    padding: 9px;
  }

  .edit-link{
    background-color: #63a4a4;
    width : 100px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    transition: all 0.1s;
    margin-bottom: 5px;
    margin-left: 15px;
  }

  .edit-link:hover{
    background-color: #54a1a1;
    padding: 8.1px;
  }